.input-style {
  background-color: #474e68 !important;
  color: #000 !important;
  border: 1px solid #000 !important;
}

.input-style:focus-visible {
  box-shadow: none !important;
}

.btn-new {
  background-color: #474e68 !important;
  border: 1px solid #000 !important;
}

.btn-new:hover {
  background-color: #404258 !important;
}

.btn-new:focus-visible {
  box-shadow: none !important;
}

.page-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.card-input-container {
  width: 80%;
  margin: auto;
}

.group-style {
  display: grid !important;
  margin: auto;
  width: 80%;
  grid-template-columns: repeat(2, 3vw);
}

@media screen and (max-width: 1300px) {
  .card-w {
    width: 33% !important;
  }
}

@media screen and (max-width: 1100px) {
  .group-style {
    grid-template-columns: repeat(2, 5vw);
  }
}

@media screen and (max-width: 800px) {
  .card-w {
    width: 50% !important;
  }
  .group-style {
    grid-template-columns: repeat(2, 7vw);
  }
}

@media screen and (max-width: 600px) {
  .card-w {
    width: 100% !important;
  }
  .group-style {
    grid-template-columns: repeat(2, 9vw);
  }
}

@media screen and (max-width: 450px) {
  .group-style {
    grid-template-columns: repeat(2, 20vw);
  }
}
