.input-new {
  color: #000 !important;
  background-color: #474e68 !important;
  border: 1px solid #000 !important;
}

.input-new:focus-visible {
  box-shadow: none !important;
  border: 1px solid #000 !important;
}

.btn-style {
  background-color: #474e68 !important;
  border: 1px solid #000 !important;
  grid-column: 3/6;
  height: 50%;
  margin-block: auto;
}

.btn-style:hover {
  background-color: #404258 !important;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  align-items: center;
  background-color: #404258;
  width: 50vw;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.input-container {
  grid-column: 1/8;
}
